.NavBox {
  position: relative;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    &:hover {
      background-color: var(--hover-bg);
    }
  }
  .active {
    font-weight: 600;
    background-color: var(--active-bg);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--brand);
    }
  }
  .toggleWrap {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
